{% extends "base.html" %}
{% load static %}

{% block title %}Email: {{ object.id }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>Subject: {{ object.subject }}</h2>
      <p>Date: {{ object.created }}</p>
      <p>{{ object.plain_content }}</p>

      {% if object.receivedemailmessage_set.count %}
        <h3>Replies</h3>
        <table class="table">
          <thead>
            <tr>
              <th>Date</th>
              <th>From</th>
              <th>Message</th>
            </tr>
          </thead>
          <tbody>
          {% for reply in object.receivedemailmessage_set.all %}
            <tr>
              <td>{{ reply.date }}</td>
              <td>{{ reply.sender_name }} &lt;{{ reply.sender_email_address }}&gt;</td>
              <td>{{ reply.plain_content|linebreaks }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      {% else %}
        <strong>No replies</strong>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}

